@model Reservation


@{
    ViewData["Title"] = "AddReservation";
    Layout = "~/Views/Shared/_reservationLayout.cshtml";
}

<h2>Nova Reserva <a asp-action="Index" class="btn btn-sm btn-outline-success">Retornar</a></h2>

<form asp-action="AddReservation" method="post">
    <div class="form-group">
        <label for="Name">Nome</label>
        <input class="form-control" name="Nome" />
    </div>
    <div class="form-group">
        <label for="InicioLocacao">Início da Locação</label>
        <input class="form-control" name="InicioLocacao" />
    </div>
    <div class="form-group">
        <label for="FimLocacao">Nome</label>
        <input class="form-control" name="FimLocacao" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Nova Reserva</button>
    </div>
</form>

@if (Model != null)
{ 
    <h2>Reserva</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Início Locação</th>
                <th>Fim Locação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ReservaId</td>
                <td>@Model.Nome</td>
                <td>@Model.InicioLocacao</td>
                <td>@Model.FimLocacao</td>
            </tr>
        </tbody>
    </table>
}
